build:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
    docker build -f .devcontainer/Dockerfile -t petclinic:$GIT_COMMIT_ID .devcontainer 
    docker tag petclinic:$GIT_COMMIT_ID  petclinic:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #!/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


test:
  - name: petclinic
    configType: maven
    configPath: /
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Harish ZBIO
lastUpdatedOn: 2023-07-21T12:18:34.022Z
